h2 {
    margin: 0;
}

.services {
    border: 3px solid black;
    display: grid;
    height: 300px;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
    /* grid short hands */
    /* grid: 50% 50% / 33.33% 33.33% 33.33% 33.33%; */

}

.service {
    color: white;
    text-align: center;

}

.service-1 {
    background-color: darkviolet;
    grid-column-start: 3;
    grid-column-end: 4;
    /* Short cut for coloum and row start and end */
    /* grid-column: 3 / 4; 
    grid-row: 1 / 3; */
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.service-2 {
    background-color: limegreen;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.service-3 {
    background-color: teal;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}