
h2 {
    margin: 0;
}
.services {
    border: 3px solid black;
    height: 300px;
    display: grid;
    /* row and coloum */
    grid:50% 50% / 33.33% 33.33% 33.33% ;
    grid-auto-flow: dense;
}

.service {
    color: white;
    text-align: center;
}

.service-1 {
    background-color: darkviolet;
    grid-row: 1 /3;
}

.service-2 {
    background-color: limegreen;
}
.service-3 {
    background-color: teal;
}
