
h2 {
    margin: 0;
}
.services {
    border: 3px solid black;
    height: 300px;
}

.service {
    color: white;
    text-align: center;
}

.service-1 {
    background-color: darkviolet;
}

.service-2 {
    background-color: limegreen;
}
.service-3 {
    background-color: teal;
}
